/* style globalne */
ul {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-h2);
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Raleway";
}
