/* Zmienne globalne */
:root {
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --color-header: #ffffff;
  --color-h2: #212121;
  --color-par: #757575;
  --color-border: #eeeeee;
  --background-color: #2f303a;
  --filter-color: #f5f4fa;
  --svg-color-fill: #afb1b8;

  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
